

.container{
	background-color: #F8CEDA;
}

body{
	font-family: 'Livvic', sans-serif;

}

.header{
	font-family: 'Livvic', sans-serif;
	
}
  .bg-1 { 
  font-family: 'Livvic', sans-serif;
    background-color: #FD95B3;
    
	padding: 40px;
  }